* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: montserrat, sans-serif;
  background-color: #042357 !important;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2303002a' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

body::-webkit-scrollbar {
  width: 7px; }

body::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 15px; }

.navbar {
  background-color: #031638; }
  .navbar .superior {
    width: 100%;
    height: 110px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
    grid-template-areas: "logo busqueda carrito" "logo barraDeNavegacion carrito"; }
    .navbar .superior .logo {
      grid-area: logo;
      margin: auto; }
      .navbar .superior .logo img {
        width: 75px;
        height: 75px; }
    .navbar .superior .busqueda {
      grid-area: busqueda;
      display: flex;
      justify-content: center; }
      .navbar .superior .busqueda input {
        width: 90%;
        height: 30px;
        margin-right: 3px;
        padding: 0 20px 3px 20px;
        border: 1px solid #042357;
        border-radius: 30px;
        background-color: #eee;
        transition: .5s; }
        .navbar .superior .busqueda input:focus {
          color: #000; }
      .navbar .superior .busqueda button {
        width: 40px;
        height: 30px;
        margin-left: 3px;
        background-color: transparent;
        color: #eee;
        border: 0;
        transition: 500ms; }
        .navbar .superior .busqueda button:hover {
          background-color: #eee;
          cursor: pointer;
          color: #000; }
    .navbar .superior .barraDeNavegacion {
      grid-area: barraDeNavegacion; }
      .navbar .superior .barraDeNavegacion ul {
        list-style: none;
        display: flex;
        justify-content: space-around; }
        .navbar .superior .barraDeNavegacion ul li a {
          text-decoration: none;
          color: #eee;
          font-size: large;
          transition: 500ms; }
          .navbar .superior .barraDeNavegacion ul li a:hover {
            text-decoration: 2px underline;
            cursor: pointer;
            font-size: x-large; }
    .navbar .superior .carrito {
      grid-area: carrito;
      margin: auto; }
      .navbar .superior .carrito img {
        width: 75px;
        height: 75px; }
    .navbar .superior label {
      display: none;
      grid-area: btn; }
      .navbar .superior label svg {
        color: #eee; }
    .navbar .superior #btn-menu {
      display: none; }

.distribucionTarjetas {
  width: 95%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr 1.5fr;
  gap: 25px;
  grid-template-areas: "zapatillas buzos remeras" "pantalones combosArmados combos"; }
  .distribucionTarjetas .contenedorCarousel {
    width: 90%; }
  .distribucionTarjetas .combo {
    grid-area: combos;
    transition: 500ms; }
    .distribucionTarjetas .combo a {
      text-decoration: none; }
      .distribucionTarjetas .combo a h5 {
        text-decoration: none;
        color: #eee; }
    .distribucionTarjetas .combo:hover {
      background-color: #011335;
      cursor: pointer; }

.contenedorTarjetasDe4 {
  width: 95%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr;
  gap: 25px;
  grid-template-areas: "producto1 producto2 producto3 producto4"; }
  .contenedorTarjetasDe4 .tarjetaDe4 {
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #042357;
    border: 1px solid #042357; }
    .contenedorTarjetasDe4 .tarjetaDe4 h5 {
      margin-bottom: 10px;
      font-size: large;
      text-align: center;
      color: #eee; }
    .contenedorTarjetasDe4 .tarjetaDe4 .img img {
      width: 90%;
      margin-left: 15px; }
    .contenedorTarjetasDe4 .tarjetaDe4 form .titulos {
      margin: 5px 0 3px 67px; }
    .contenedorTarjetasDe4 .tarjetaDe4 form input {
      width: 65px;
      height: 22px;
      margin: 1px 0 5px 9px;
      text-align: center;
      border: 0;
      font-size: small; }
    .contenedorTarjetasDe4 .tarjetaDe4 form .modeloProducto {
      width: 135px;
      height: 22px;
      border: 0;
      font-size: small; }
    .contenedorTarjetasDe4 .tarjetaDe4 form .talle {
      width: 40px;
      height: 22px;
      border: 0;
      font-size: small; }
    .contenedorTarjetasDe4 .tarjetaDe4 form .color {
      width: 100px;
      height: 22px;
      border: 0;
      font-size: small; }
    .contenedorTarjetasDe4 .tarjetaDe4 h6 {
      font-size: 11.5px;
      display: inline;
      margin: 5px 17px;
      color: #eee; }
    .contenedorTarjetasDe4 .tarjetaDe4 button {
      width: 222px;
      height: 22px;
      margin: 5px 0 5px 3px;
      border: 0;
      font-size: small;
      transition: 500ms; }
      .contenedorTarjetasDe4 .tarjetaDe4 button:hover {
        background-color: #011335;
        color: #eee;
        cursor: pointer; }
  .contenedorTarjetasDe4 .producto1 {
    grid-area: producto1; }
  .contenedorTarjetasDe4 .producto2 {
    grid-area: producto2; }
  .contenedorTarjetasDe4 .producto3 {
    grid-area: producto3; }
  .contenedorTarjetasDe4 .producto4 {
    grid-area: producto4; }

.contenedorTarjetasCombos4 {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr;
  gap: 25px;
  grid-template-areas: "zapatillas remeras pantalones buzos"; }
  .contenedorTarjetasCombos4 .tarjetaCombo4 {
    width: 250px;
    height: 350px;
    margin: auto;
    background-color: #042357;
    border: #042357 1px solid; }
    .contenedorTarjetasCombos4 .tarjetaCombo4 h5 {
      font-size: large;
      text-align: center;
      margin: 15px;
      color: #eee; }
    .contenedorTarjetasCombos4 .tarjetaCombo4 .img {
      margin-left: 17px; }
      .contenedorTarjetasCombos4 .tarjetaCombo4 .img img {
        width: 210px;
        height: 220px; }
    .contenedorTarjetasCombos4 .tarjetaCombo4 .boton {
      width: 220px;
      height: 30px;
      margin: 10px;
      text-align: center;
      background-color: #042357;
      transition: 500ms; }
      .contenedorTarjetasCombos4 .tarjetaCombo4 .boton a {
        text-decoration: none;
        color: #eee;
        margin-top: 5px; }
      .contenedorTarjetasCombos4 .tarjetaCombo4 .boton:hover {
        background-color: #011335; }
  .contenedorTarjetasCombos4 .zapatillas {
    grid-area: zapatillas; }
  .contenedorTarjetasCombos4 .remeras {
    grid-area: remeras; }
  .contenedorTarjetasCombos4 .pantalones {
    grid-area: pantalones; }
  .contenedorTarjetasCombos4 .buzos {
    grid-area: buzos; }

.tarjeta {
  width: 275px;
  height: 370px;
  background-color: #042357;
  border: 1px solid #042357;
  padding: 10px;
  margin: 20px auto; }
  .tarjeta h5 {
    font-size: large;
    text-align: center;
    margin: 8px 0;
    color: #eee; }
  .tarjeta .img {
    margin-left: 12px; }
    .tarjeta .img img {
      width: 222px;
      height: 220px; }
  .tarjeta form .titulos {
    display: flex;
    margin-left: 33px; }
    .tarjeta form .titulos h6 {
      font-size: small;
      margin: 5px 0 5px 50px;
      color: #eee; }
  .tarjeta form input {
    width: 65px;
    height: 23px;
    text-align: center;
    margin-left: 8px;
    border: none;
    font-size: small !important; }
  .tarjeta form .talle {
    width: 50px;
    height: 23px;
    border: none; }
  .tarjeta form .color {
    width: 105px;
    height: 23px;
    border: none; }
  .tarjeta button {
    width: 240px;
    height: 25px;
    margin-top: 8px;
    margin-left: 3px;
    background-color: #ccc;
    border: none;
    font-size: medium;
    transition: 500ms; }
    .tarjeta button:hover {
      background-color: #011335;
      color: #eee;
      text-align: center;
      cursor: pointer; }
  .tarjeta .zapatillas {
    grid-area: zapatillas; }
  .tarjeta .buzos {
    grid-area: buzos; }
  .tarjeta .remeras {
    grid-area: remeras; }
  .tarjeta .pantalones {
    grid-area: pantalones; }
  .tarjeta .combosArmados {
    grid-area: combosArmados; }

.botonPreguntas {
  background-color: #ccc;
  margin: 30px auto;
  width: 80%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  transition: 500ms; }
  .botonPreguntas a {
    text-decoration: none;
    color: #000; }
    .botonPreguntas a:hover {
      text-decoration: none;
      color: #000; }
  .botonPreguntas:hover {
    transform: scale(1.2); }

.contenedorPreguntas {
  width: 95%;
  height: 20%;
  margin: 15px auto 0 auto;
  padding-top: 15px; }
  .contenedorPreguntas .modifyButton {
    width: 95%;
    height: 90%;
    margin: 5px auto 5px 3%;
    letter-spacing: 1px;
    font-size: large;
    text-align: center; }

.contenedor {
  margin: 30px auto 60px auto;
  width: 95%;
  height: 350px; }
  .contenedor .margenes {
    padding: 15px 15px 30px 15px;
    background-color: #031638;
    border: 3px solid #031638;
    color: #ccc; }
    .contenedor .margenes legend {
      font-size: x-large; }
    .contenedor .margenes form {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "mensaje formulario";
      justify-items: center; }
      .contenedor .margenes form .mensaje {
        width: 95%;
        height: 300px;
        margin: 0 auto;
        padding: 5px 10px;
        grid-area: mensaje;
        resize: none;
        font-size: large; }
      .contenedor .margenes form .formulario {
        width: 95%;
        height: 300px;
        grid-area: formulario;
        display: flex;
        flex-direction: column; }
        .contenedor .margenes form .formulario .formularioLlenar .input {
          width: 100%;
          height: 30px;
          margin-bottom: 20px;
          padding: 0 20px;
          border: 1px solid #042357;
          border-radius: 30px;
          transition: 500ms; }
          .contenedor .margenes form .formulario .formularioLlenar .input:focus {
            transform: scale(1.1); }
        .contenedor .margenes form .formulario .enviar {
          width: 100%;
          height: 100px;
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .contenedor .margenes form .formulario .enviar .captcha {
            display: inline;
            margin: auto; }
            .contenedor .margenes form .formulario .enviar .captcha img {
              width: 95%;
              height: 100px;
              margin: auto; }
              .contenedor .margenes form .formulario .enviar .captcha img:hover {
                cursor: pointer; }
          .contenedor .margenes form .formulario .enviar .botonEnviar {
            width: 20%;
            height: 30px;
            display: inline;
            margin: auto;
            border: 0;
            background-color: #031638;
            color: #eee;
            transition: 500ms; }
            .contenedor .margenes form .formulario .enviar .botonEnviar:hover {
              background-color: #eee;
              cursor: pointer;
              color: #000; }

.redes {
  width: 90%;
  height: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .redes a {
    margin: 10px auto;
    padding: 35px;
    border-radius: 70px;
    background-color: #eee;
    transition: 500ms; }
    .redes a:hover {
      background-color: #011335; }
  .redes .ig svg {
    width: 75px;
    color: #C13584; }
  .redes .tw svg {
    width: 75px;
    color: #1DA1F2; }
  .redes .fc svg {
    width: 75px;
    color: #4267B2; }
  .redes .lk svg {
    width: 75px;
    color: #0e76a8; }
  .redes .gg svg {
    width: 75px;
    color: #DB4437; }

@media only screen and (max-width: 1100px) {
  .contenedorTarjetasDe4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    grid-template-areas: "producto1 producto2" "producto3 producto4"; }
  .contenedorTarjetasCombos4 {
    gap: 5px; } }

@media only screen and (max-width: 1000px) {
  .contenedor {
    height: 650px;
    margin: 30px auto 80px auto; }
    .contenedor .margenes form {
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "mensaje" "formulario";
      justify-items: center;
      margin-bottom: 40px; }
      .contenedor .margenes form .formulario {
        height: 150px;
        margin-top: 10px; }
        .contenedor .margenes form .formulario .formularioLlenar .input {
          height: 40px;
          margin: 8px auto; }
  .distribucionTarjetas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1.5fr);
    grid-template-areas: "zapatillas buzos" "remeras pantalones" "combosArmados combos"; }
  .contenedorTarjetasCombos4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    gap: 25px;
    grid-template-areas: "zapatillas remeras" "pantalones buzos"; } }

@media only screen and (max-width: 750px) {
  .navbar .superior {
    height: 240px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 3px;
    align-items: center;
    grid-template-areas: "logo logo"  "busqueda busqueda" "btn carrito"; }
    .navbar .superior .carrito img {
      width: 50px;
      height: 50px; }
    .navbar .superior .busqueda input {
      margin: auto 0; }
    .navbar .superior .barraDeNavegacion {
      position: absolute;
      background-color: #031638;
      width: 100%;
      height: 80px;
      margin-top: 120px;
      margin-left: -120%;
      padding: 15px;
      z-index: 2; }
      .navbar .superior .barraDeNavegacion ul {
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box; }
    .navbar .superior label {
      display: flex;
      justify-content: center; }
      .navbar .superior label svg {
        width: 50px;
        height: 50px; }
    .navbar .superior #btn-menu:checked ~ .barraDeNavegacion {
      margin-left: -11px;
      text-align: center; } }

@media only screen and (max-width: 600px) {
  .distribucionTarjetas {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1.5fr);
    grid-template-areas: "zapatillas" "buzos" "remeras" "pantalones" "combosArmados" "combos"; }
  .contenedorTarjetasDe4 {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1.5fr);
    grid-template-areas: "producto1" "producto2" "producto3" "producto4"; }
  .contenedorTarjetasCombos4 {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1.5fr);
    grid-template-areas: "zapatillas" "remeras" "pantalones" "buzos"; } }

@media only screen and (max-width: 500px) {
  .superior {
    height: 210px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 3px;
    align-items: center;
    grid-template-areas: "logo logo"  "busqueda busqueda" "btn carrito"; }
    .superior .carrito img {
      width: 50px;
      height: 50px; }
    .superior .busqueda .input {
      height: 20px;
      margin: auto 0; }
  #btn-menu:checked ~ .barraDeNavegacion {
    margin-left: -3%; }
  .contenedor .margenes form .formulario .enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 10px auto; }
    .contenedor .margenes form .formulario .enviar .captcha {
      margin: 5px auto; }
    .contenedor .margenes form .formulario .enviar .botonEnviar {
      width: 100%;
      height: 60px; }
  legend {
    font-size: large; } }
